.App {
  text-align: center;

}

.App-header {
  min-height: 3em;
  align-items: center;
  border-style: solid;
  border-color:red;

}

.about-me {
  min-height: 10em;
  border-style: solid;
  border-color:red;
}

.projects {
  min-height: 15em;
  border-style: solid;
  border-color:red;
}
.resume {
  min-height: 15em;
  border-style: solid;
  border-color:red;
}

.contact-me{
  min-height: 15em;
  border-style: solid;
  border-color:red;
}


